<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Jasa Pembuatan Website" />
    <meta name="description" content="Buat website dengan mugah" />
    <meta name="description" content="Buat web" />
    <meta name="description" content="Website perusahaan" />
    <meta
      name="description"
      content="Saatnya edit content website dengan mudah hanya membayar biaya pembuatan anda dapat melakukan customizatio website anda sesuai keinginan"
    />
    <link rel="icon" type="image/svg+xml" href="/vite.svg" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Vite + React</title>
  </head>
  <body>
    <div id="root"></div>
    <script type="module" src="/src/main.jsx"></script>
  </body>
</html>
